[Unit]
Description=Mashape Previewer
After=network.target

[Service]
Type=simple
User=ubuntu
Environment=GITHUB_TOKEN=changeme
Environment=DOMAIN=changeme
WorkingDirectory=/home/ubuntu/previewer
ExecStart=/home/ubuntu/previewer/.venv/bin/python /home/ubuntu/previewer/task.py
Restart=on-abort

[Install]
WantedBy=multi-user.target